# 개인, 단체,환불

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

* 장·단기, 환불
  - 장기 : 한달 결재 횟수가 많고(이상치) 한번 지출액이 많지 않을때(이상치x)
  - 단기 : 그 외

In [2]:
foreigner=pd.read_csv('foreigner.csv')
foreigner=foreigner.iloc[:,1:]
foreigner=foreigner[foreigner['GB3']!='의료']
foreigner['VLM/USEC']=foreigner['VLM']/foreigner['USEC']
foreigner

,NT,V2,V3,GB3,GB2,TA_YM,DAW_CCD_R,APV_TS_DL_TM_R,VLM,USEC,VLM/USEC
0,태국,서울,용산구,쇼핑,기타지출,201703,WHITE,기타,3917910,55,71234.727273
1,일본,서울,용산구,쇼핑,기타지출,201805,WHITE,기타,11586560,261,44392.950192
2,영국,서울,용산구,쇼핑,기타지출,201807,WHITE,기타,3483630,120,29030.250000
3,베트남,경기,오산시,쇼핑,기타지출,201705,WHITE,기타,12000,9,1333.333333
4,미국,서울,용산구,쇼핑,기타지출,201802,RED,기타,20831646,449,46395.648107
...,...,...,...,...,...,...,...,...,...,...,...
2730132,베트남,서울,용산구,음식,유흥,202006,WHITE,기타,250000,1,250000.000000
2730134,오스트레일리아,부산,사상구,쇼핑,기타쇼핑,202006,RED,기타,15000,1,15000.000000
2730135,미국,대전,동구,음식,유흥,202005,RED,기타,160000,1,160000.000000
2730136,중국,부산,부산진구,음식,유흥,202006,WHITE,기타,202171,2,101085.500000
2730138,오스트레일리아,부산,동래구,숙박,그외숙박,202004,WHITE,기타,50000,1,50000.000000

In [56]:
Q1 = np.percentile(foreigner['USEC'], 25) 
Q3 = np.percentile(foreigner['USEC'], 75) 
IQR = Q3 - Q1 
outlier_step = 1.5 * IQR 
foreigner_long=foreigner[(foreigner['USEC']>Q3+1.5*IQR)]

Q1 = np.percentile(foreigner_long['VLM/USEC'], 25) 
Q3 = np.percentile(foreigner_long['VLM/USEC'], 75) 
IQR = Q3 - Q1 
outlier_step = 1.5 * IQR 
foreigner_long=foreigner_long[(foreigner_long['VLM/USEC']<=Q3+1.5*IQR)]
foreigner_long

Q1 = np.percentile(foreigner_long['USEC'], 25) 
Q3 = np.percentile(foreigner_long['USEC'], 75) 
IQR = Q3 - Q1 
outlier_step = 1.5 * IQR 
foreigner_long=foreigner_long[(foreigner_long['USEC']<=Q3+1.5*IQR)]
foreigner_long

Q1 = np.percentile(foreigner_long['VLM'], 25) 
Q3 = np.percentile(foreigner_long['VLM'], 75) 
IQR = Q3 - Q1 
outlier_step = 1.5 * IQR 
foreigner_long=foreigner_long[(foreigner_long['VLM']<=Q3+1.5*IQR)]
foreigner_long

,NT,V2,V3,GB3,GB2,TA_YM,DAW_CCD_R,APV_TS_DL_TM_R,VLM,USEC,VLM/USEC
0,태국,서울,용산구,쇼핑,기타지출,201703,WHITE,기타,3917910,55,71234.727273
1,일본,서울,용산구,쇼핑,기타지출,201805,WHITE,기타,11586560,261,44392.950192
2,영국,서울,용산구,쇼핑,기타지출,201807,WHITE,기타,3483630,120,29030.250000
4,미국,서울,용산구,쇼핑,기타지출,201802,RED,기타,20831646,449,46395.648107
6,미국,경기,오산시,쇼핑,기타지출,201801,WHITE,기타,700600,79,8868.354430
...,...,...,...,...,...,...,...,...,...,...,...
2726096,일본,인천,중구,숙박,그외숙박,202002,RED,기타,3624082,69,52522.927536
2726155,미국,경기,동두천시,음식,유흥,202005,RED,기타,6396300,50,127926.000000
2726414,중국,서울,금천구,숙박,그외숙박,201702,RED,기타,15145613,106,142883.141509
2726896,중국,충북,음성군,숙박,그외숙박,201909,WHITE,기타,12232888,55,222416.145455
2727659,중국,경북,구미시,숙박,그외숙박,201702,RED,기타,10720086,46,233045.347826

In [57]:
foreigner_long[foreigner_long['USEC']==144180]

Empty DataFrame
Columns: [NT, V2, V3, GB3, GB2, TA_YM, DAW_CCD_R, APV_TS_DL_TM_R, VLM, USEC, VLM/USEC]
Index: []

In [58]:
foreigner_long['USEC'].describe()

count    260948.000000
mean        145.181450
std         124.230015
min          44.000000
25%          63.000000
50%          97.000000
75%         176.000000
max         710.000000
Name: USEC, dtype: float64

In [60]:
foreigner_long['USEC'].median()

97.0

In [59]:
foreigner_long['VLM'].describe()

count    2.609480e+05
mean     6.096600e+06
std      5.606641e+06
min      4.700000e+04
25%      1.870500e+06
50%      4.104900e+06
75%      8.635346e+06
max      2.489236e+07
Name: VLM, dtype: float64

In [61]:
foreigner_long['VLM'].median()

4104900.5

In [33]:
foreigner['VLM'].median()

202479.0

In [30]:
foreigner_long['USEC'].describe()

count    330777.000000
mean        518.881370
std        1879.642535
min          44.000000
25%          70.000000
50%         129.000000
75%         326.000000
max      144180.000000
Name: USEC, dtype: float64

In [29]:
330777/2426682

0.13630834200772907

In [17]:
foreigner_per=foreigner
foreigner_per.drop(foreigner_org.index,inplace=True)
foreigner_per

,NT,V2,V3,GB3,GB2,TA_YM,DAW_CCD_R,APV_TS_DL_TM_R,VLM,USEC,VLM/USEC
0,태국,서울,용산구,쇼핑,기타지출,201703,WHITE,기타,3917910,55,71234.727273
1,일본,서울,용산구,쇼핑,기타지출,201805,WHITE,기타,11586560,261,44392.950192
2,영국,서울,용산구,쇼핑,기타지출,201807,WHITE,기타,3483630,120,29030.250000
3,베트남,경기,오산시,쇼핑,기타지출,201705,WHITE,기타,12000,9,1333.333333
4,미국,서울,용산구,쇼핑,기타지출,201802,RED,기타,20831646,449,46395.648107
...,...,...,...,...,...,...,...,...,...,...,...
2730134,오스트레일리아,부산,사상구,쇼핑,기타쇼핑,202006,RED,기타,15000,1,15000.000000
2730135,미국,대전,동구,음식,유흥,202005,RED,기타,160000,1,160000.000000
2730136,중국,부산,부산진구,음식,유흥,202006,WHITE,기타,202171,2,101085.500000
2730137,일본,경기,파주시,의료,치과병원,202001,WHITE,기타,11900,1,11900.000000
2730138,오스트레일리아,부산,동래구,숙박,그외숙박,202004,WHITE,기타,50000,1,50000.000000

In [21]:
foreigner_org.to_csv('native_org.csv',index=False)
foreigner_per.to_csv('native_per.csv',index=False)